<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
</head>
<body>
    <div style="width: 100%; height: 100%; text-align: center;" >
        <h2>Please Log In</h2>
        <div th:if="${param.error}">
            Invalid username and password.</div>
        <div th:if="${param.logout}">
            You have been logged out.</div>
        <form th:action="@{/login}" method="post">
            <div style="padding: 10px;">
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div style="padding: 10px;">
                <input type="password" name="password" placeholder="Password"/>
            </div>
            <input type="submit" value="Log in" />
        </form>
    </div>
</body>
</html>
